#boardTable {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: #e6f2ff;
  cursor: default;
}

.cell {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
}

.selected {
  font-size: 39px;
}

.unselectable {
  user-select: none; /* For modern browsers */
  -webkit-user-select: none; /* For WebKit browsers (Chrome, Safari) */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older IE */
}

